<div class="col-xs-10 col-xs-offset-1 about">
  <h1>Golf Tip Generator</h1>

  <p>
    Two days into the <a target="_blank" href="http://www.thefirehoseproject.com/"> The Firehose Project</a> I built this golf tip generator using RoR, Sublime text, HTML, and CSS. As an aspiring developer working on this project was humbling and exciting all at the same time. Seeing how well organized the Rails framework is, I can see why it has become so popular. I'm looking forward to all the future projects will be working on at Firehose to further expand my knowledge, as well as all the side projects I have in mind! -- <a target="_blank" href="https://github.com/adevenuto">Anthony</a>
  </p>
  <div class="col-xs-12">
    <%= image_tag 'profile_pic.png', :class => 'profile_pic' %>
  </div>
  <!-- <p>
    If you want to learn how to code - start <a target="_blank" href="http://www.thefirehoseproject.com/"> here</a>.
  </p> -->

</div>
<br class="clear" />
<br />
<br />
<br />
<br />