<h2>
  <h4>Giving the average golfer hope, since 1457....</h4><span>Tip No. <%= @quote.id %></span>
</h2>

<h1>"<%= @quote.saying %>"</h1>
<h1 id="author">- <%= @quote.author %></h1>

<br class="clear" />
<br />
<br />
<br />