.clear {
  clear:both;
}
.next-quote {
  color: #f84342;
  font-family: 'nobilemedium_italic', sans-serif;
  font-size: 20px;
}
.slogan {
  /*font-family: "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
  font-style: italic;*/
  padding-top: 26px;
  font-family: Helvetica Neue;
  font-weight: 500;
}
.footer-blurb {
  font-family: Helvetica Neue, Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
  /*font-style: italic;*/
  text-align:right;
  font-size: 15px;
  font-weight: 200;
}
.modal {
  font-family: Helvetica Neue, Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
}
.about {
  font-family: Helvetica Neue, Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
  font-size: 17px;
  font-weight: 400;
}
.logo:hover {
  text-decoration:none;
}
body {
  background-image: url("solid.png");
  background-color: #fff;
}
.circle {
  background:transparent url(texture.jpg) no-repeat center center;
  background-position:center;
  /*font-weight:bold;
  font-style: italic;*/
  border: 2px solid #F3B916;
  font-family: Helvetica Neue;
  overflow: hidden;
  position: relative;
  border-radius: 100%;
  width: 100px;
  top: 10px;
  height: 100px;
  margin: 10px 10px;
  text-align: center;
  color: #609703;
  font-size: 14px;

  cursor: pointer;
  /*transform:rotate(-11deg);*/
  /*-ms-transform:rotate(-11deg); /* IE 9 */
  /*-webkit-transform:rotate(-11deg); /* Opera, Chrome, and Safari */
}
.profile_pic {
  height: 150px;
  width: 150px;
  border-radius: 100%;
}
.links {
  padding-top:26px;
  width:auto;
}

.links a {
  color:black;
  font-size: 30px;
  font-family: Helvetica Neue;
  font-weight: 100;
  /*border-bottom: 1px solid #dfdfdf;*/
}
h1 {
  font-family: Helvetica Neue;
  font-weight: 100;
  font-size:48px;
}
h4 {
  font-family: Helvetica Neue;
  font-weight: 200;
  font-size:20px;
}
header {
  height: 110px;
  width:100%;
  background:transparent url(grass.jpg);
  border-bottom: 5px solid #F3B916;
}
h2 span {
  color: #fff;
  font-family: 'nobileregular', sans-serif;
}
hr {
  clear:both;
}
.next {
  text-align: center;
}
.next a {
  text-decoration: none;
  position: relative;
  bottom: 40px;
  font-size: 20px;
}
.next a:hover {
  color:#fff;
}
.center {
  text-align: center;
}
.container {
  margin-top: 21px;
}
#author {
  font-size: 1.25em;
  color: #FFFFFF;
}
.footer {
  background-color: #fff;
}
/*@media (max-width: 750px) {
  .footer-blurb {
    text-align: left;
  }
}*/